/*======= General settings =======*/

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Colors */

:root {
  --main-text: hsl(238, 29%, 16%);
  --primary: hsl(14, 88%, 65%);

  --bg-violet: hsl(273, 75%, 66%);
  --bg-blue: hsl(240, 73%, 65%);

  --blue: hsl(237, 12%, 33%);
  --gray: hsl(240, 6%, 50%);

  --divider: hsl(240, 5%, 91%);
}

/* Typography */

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*======= Main CSS =======*/

main {
  display: grid;
  place-items: center;

  width: 100%;
  min-height: 100vh;

  background: linear-gradient(var(--bg-violet), var(--bg-blue)) no-repeat;

  color: var(--main-text);
}

.container {
  position: relative;
}

.faq-card {
  display: flex;
  display: -webkit-flex;
  /* Safari */
  align-content: center;
  -webkit-align-content: center;
  /* Safari */

  width: 920px;
  background: #fff;
  border-radius: 20px;

  box-sizing: border-box;

  overflow: hidden;
}

.faq-card h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin: 0;
  margin-bottom: 2rem;
}

.img-mobile,
.bg-mobile {
  display: none;
}

.img-box {
  position: absolute;
  z-index: 9;
  top: 215px;
  left: -93px;
}

.faq-images {
  position: relative;
  z-index: 1;
  left: -80px;

  width: 50%;
  align-self: center;
  padding: 5rem 0;

  background: url(../images/bg-pattern-desktop.svg) no-repeat;
  background-position-x: -575px;
  background-position-y: -300px;
}

.faq-images img {
  z-index: -1;
}

/* FAQ box */

.faq-box {
  width: 50%;
  margin-left: 3rem;
  padding-top: 3rem;
  padding-right: 4rem;
}

.faq-item {
  padding: 16px 0;
  border-bottom: 1px solid var(--divider);
  /* max-width: 320px; */
  margin-right: 0;
  padding-right: 0;
}

.faq-question:hover {
  color: var(--primary-red);
}

.faq-question {
  font-size: 1.25em;

  transition: 0.3s ease;
}

.faq-question:hover {
  color: var(--primary);
}

.faq-summary::-webkit-details-marker {
  display: none;
}

.faq-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0;
  position: relative;

  cursor: pointer;
  list-style: none;
  /* max-width: 320px; */
  width: 100%;
}

.faq-summary::after {
  content: url(../images/icon-arrow-down.svg);

  display: inline-block;

  cursor: pointer;
}

.faq-item[open] .faq-summary::after {
  content: url(../images/icon-arrow-down.svg);
  transform: rotate(180deg);
}

.faq-item[open] .faq-summary {
  font-weight: 700;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-1.25em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.faq-text {
  margin: 24px 0 0 0;
}

.faq-item[open] p {
  animation-name: fadeInDown;
  animation-duration: 0.5s;
}

/* Attribution */

.attribution {
  text-align: center;
  margin-top: 4rem;
  color: #fff;
}

.attribution a {
  color: #fff;

  transition: color 0.3s ease;
}

.attribution a:hover {
  color: var(--primary);
}

/*======= Media Queries =======*/

@media screen and (max-width: 1024px) {

  .faq-card {
    width: 320px;
    flex-direction: column;
    -webkit-flex-direction: column;
  }

  .faq-card h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .img-box,
  .img-desktop {
    display: none;
  }

  .img-mobile {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);

    display: block;

    width: 220px;
  }

  .bg-mobile {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);

    display: block;
  }

  .faq-images {
    display: none;
  }

  .faq-box {
    width: 100%;
    max-width: 270px;
    padding: 8rem 1.5rem 2rem;
    margin-left: 0;
  }

  .faq-item {
    width: 100%;
    max-width: 320px;
  }

  .faq-summary {
    width: 100%;
    max-width: 320px;
  }

  .faq-question {
    font-size: 13px;
  }
}